* {
    margin: 0;
    padding: 0; 
  }



section{
    display: grid;  /* Declara ante todo esta propiedad. los elementos en una columna */           
    grid-template-columns: repeat(auto-fit,minmax(100px,250px));
    grid-gap: 10px;  /* Declara el espacio entre columnas */
    justify-content: center;
  }
.caja1{
  background-color: rgba(255, 0, 234, 0.543);
  padding: 10px;
  color: aqua;
  border: 1px solid;
  text-align: center;
}